Repository pdebruin/openhack-devops-team: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-poi.yml, azure-pipeline-trip.yml

azure-pipeline-poi.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  paths:
    include: 
    - apis/poi/*

#pool:
#  vmImage: 'ubuntu-latest'
pool: Default

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'OTA-PRD-1353'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: './build_deploy_poi.sh'
    arguments: '-b Debug -r openhackyij7rg -t api-poi:latest -s ../.. -d akstraefikopenhackyij7.westus.cloudapp.azure.com -n openhackyij7 -g openhackyij7acr'
    addSpnToEnvironment: true

azure-pipeline-trip.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  paths:
    include: ['./apis/trips']

#pool:
#  vmImage: 'ubuntu-latest'
pool: Default

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'OTA-PRD-1353'
    scriptType: 'bash'
    scriptLocation: 'scriptPath'
    scriptPath: './build_deploy_trip.sh'
    arguments: '-b Debug -r openhackyij7rg -t api-trip:latest -s ../.. -d akstraefikopenhackyij7.westus.cloudapp.azure.com -n openhackyij7 -g openhackyij7acr'
    addSpnToEnvironment: true

trigger paths include
  azure-pipeline-trip.yml
  azure-pipeline-user-java.yml
  azure-pipeline-userprofile.yml
  build_deploy_poi.sh
Due: none

helm install
  build_deploy_poi.sh
Due: none

helm upgrade
  build_deploy_poi.sh
Due: none

minus latest
  azure-pipeline-poi.yml
Due: none

helm upgrade
  azure-pipeline-trip.yml
  azure-pipeline-user-java.yml
  azure-pipeline-userprofile.yml
  build_deploy_trip.sh
  build_deploy_user-java.sh
  build_deploy_userprofile.sh
Due: none

blue green
  apis/poi/charts/mydrive-poi/values.yaml
Due: azure-pipeline-poi.yml

blue green for all
  apis/trips/charts/mydrive-trips/values.yaml
  apis/user-java/charts/mydrive-user-java/values.yaml
  apis/userprofile/charts/mydrive-user/values.yaml
Due: azure-pipeline-trip.yml
